<ion-header color="primary">
  <ion-navbar color="primary_color">
    <button ion-button menuToggle>
      <ion-icon name="menu" fixed></ion-icon>
    </button>
    <ion-title>{{'EVENTI_CREATI_MENU' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">

  <!--bottone-->
  <ion-fab right bottom>
    <button ion-fab color="accent_colors" (click)="createevent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list no-lines="">
    <ion-item *ngFor="let e of eventi" (click)="event(e)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/patato.jpg">
      </ion-avatar>
      <h2>{{e.title}}</h2>
      <p>{{e.date | date:'MMM d' }}</p>
      <ion-note *ngIf="e.date<todayString" item-end color="danger">{{'EV_CHIUSO' | translate}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
