<ion-view title="amici" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="amici-list4">
      <ion-item class="item-avatar" id="amici-list-item7">
        <img src="img/MUy9oclT9Oa7QQJPlfpp_DB-Smaila-Gioia.jpg">
        <h2>umberto</h2>
      </ion-item>
      <ion-item class="item-avatar" id="amici-list-item8">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="amici-list-item9">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>