<!-- custom splash screen  -->
<div *ngIf="showSplash" class="splash">
<div class="spinner"></div>

</div>



<ion-menu [content]="content">
<!-- parte alta -->
  <ion-header>
    <ion-toolbar class="menutitle" color="primary_color">

      <ion-title *ngIf="loggedIn">{{ Welcome | translate }} {{utente.name}} {{utente.surname}}</ion-title>

      <ion-title *ngIf="!loggedIn">Menu</ion-title>

    </ion-toolbar>
  </ion-header>




  <!-- corpo menu -->
  <ion-content>
    <ion-list *ngIf="loggedIn">   <!-- lista loggato-->
      <button  ion-item menuClose *ngFor="let page of menuL" (click)="openPage(page)">
        <ion-icon item-start [name]="page.icon"></ion-icon>
        {{page.title | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="!loggedIn">   <!-- lista non loggato-->
      <button  ion-item menuClose *ngFor="let page of menuNL" (click)="openPage(page)">
        <ion-icon item-start [name]="page.icon"></ion-icon>
        {{page.title | translate }}
      </button>
    </ion-list>


    <hr>

      <div class="divider"></div>


      <ion-list>

      <button *ngIf="loggedIn" ion-item class="menustyle" menuClose (click)="openProfile()">
        <ion-icon item-start name="person"></ion-icon>
        {{'PROFILO_MENU' | translate }}
      </button>

      <button *ngIf="!loggedIn" ion-item class="menustyle" menuClose (click)="login()">
        <ion-icon item-start name="log-in"></ion-icon>
        Login
      </button>

      <button *ngIf="loggedIn" ion-item class="menustyle" menuClose (click)="logout()">
        <ion-icon item-start name="log-out"></ion-icon>
        Logout
      </button>


      <button ion-item class="menustyle" menuClose (click)="openSettings()">
        <ion-icon item-start name="settings"></ion-icon>
        {{'IMPOSTAZIONI_MENU' | translate }}
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
