page-extrafilter {
    // .prova{
    //     margin: auto;
    //     display: block;
    // }
    .prova{
        margin: auto;
        display: block;
        width: 100%;
        
    }

    .spazio{
        padding-top: 20px !important;
    }
    
    .provat{
        background: transparent !important;
        margin-bottom: 0px !important;
    }

    .centro{
        text-align: center;
    }
}
