<!--
  Generated template for the ExtrafilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary_color">

  <ion-navbar color="primary_color">
    <ion-buttons left>
    </ion-buttons>
    <ion-title>{{'ADVSEARCH' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only >
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- bisogna aggiungere la form -->

<ion-content>
  <ion-list>
    <ion-list-header class="provat">

      {{'PRICE' | translate}}

    </ion-list-header>
    <ion-item>



      <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" class="spazio" color="accent_colors">
        <ion-badge range-left small color="primary_color">{{structure.lower}}</ion-badge>
        <ion-badge range-right small color="primary_color">{{structure.upper}}</ion-badge>


      </ion-range>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-list-header>
      {{'TYPE' | translate}}
    </ion-list-header>

    <ion-item *ngFor="let ca of categorie; let i = index">
      <ion-icon name='globe' item-start></ion-icon>
      <ion-label>
        {{ca.name}}
      </ion-label>
      <ion-radio color="primary_color" item-right (click)="selectType(ca)"></ion-radio>

    </ion-item>
  </ion-list>

  <ion-list >
    <ion-list-header>
      {{'SERVICE' | translate}}
    </ion-list-header>

    <ion-item *ngFor="let s of services">
      <ion-icon name='clipboard' item-start></ion-icon>
      <ion-label>
        {{s.sv}}
      </ion-label>
      <ion-toggle color="accent_colors" (click)="selectService(s)" [(ngModel)]="s.checked" item-right></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <button ion-button bottom class="prova" color="accent_colors" (click)='research(structure.lower,structure.upper);'>
    {{'FILTER' | translate}}
  </button>
</ion-footer>



<!-- <button ion-button (click)="stampamax(structure.lower,structure.upper)">vai</button> -->
