<ion-header>
  <ion-navbar color="primary_color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LISTA EVENTI' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user">
    <ion-item color="light_color">
      <ion-avatar item-start>
        <img src="../../assets/imgs/patato.jpg">
      </ion-avatar>
      <h2>{{user.name}} {{user.surname}}</h2>
      <p>{{user.email}}</p>
      <p>{{user.address}}</p>
    </ion-item>

    <ion-item-divider>descrizione</ion-item-divider>

    <ion-item no-lines="">
      la descrizione di davide
    </ion-item>

    <ion-item-divider padding-top="">vecchi eventi</ion-item-divider>
    <ion-item *ngFor="let e of listEvent" (click)="eventSelected(e)">
      {{ e.title }}
      <ion-note item-end>
        {{e.date}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
