page-profile {

h1{
  font-size: 2rem !important;
}

#avatar{
  position: relative;
  left: 6em;
  height: 50px !important;
  width: 50px !important;

}

ion-icon.menu{
  position: relative;
  margin:auto;
}


}
