<ion-header>
  <ion-navbar color="primary_color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'DETTAGLIO_EVENTO_TITOLO' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="share()">
        <ion-icon name="share"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="evento && favorite" (click)="unsetFavorite(evento)">
        <ion-icon name="heart" color="danger"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="evento && !favorite" (click)="setFavorite(evento)">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="evento">
    <div *ngIf="image">
      <img [src]="image.data.url" />
    </div>
    <div style="position: relative" class="img">
      <img src="../../assets/imgs/logo.png"/>
    </div>

    <div *ngIf="creatore">

      <ion-item (click)="infoUser()" no-lines color="accent_colors">
        <ion-avatar item-start>
          <img src="../../assets/imgs/logo.png">
        </ion-avatar>
        <h2>{{creatore.name}} {{creatore.surname}}</h2>
        <p>{{creatore.age}}</p>
      </ion-item>
    </div>

    <!--titolo-->
    <h2>
      <ion-col class="my-title">{{evento.title}}</ion-col>
    </h2>

    <!--data-->
    <ion-list padding-top="" no-lines="">
      <ion-item class="my-text">
        <ion-icon name='calendar' item-start color="accent_colors"></ion-icon>
        {{evento.date | date:'d MMMM yyyy' }}
      </ion-item>

      <!--indirizzo-->
      <ion-item (click)="openMap()" *ngIf="evento.address && evento.city">
        <ion-icon name='pin' item-start color="accent_colors"></ion-icon>
        {{evento.address}}, {{evento.city}}
      </ion-item>

      <ion-item (click)="openMap()" *ngIf="evento.address == null && evento.city">
        <ion-icon name='pin' item-start color="accent_colors"></ion-icon>
        {{evento.city}}
      </ion-item>

      <ion-item text-wrap>
        <ion-icon name='information-circle' item-start color="accent_colors"></ion-icon>
        {{evento.description}}
      </ion-item>

      <ion-item>
        <ion-icon name='eye' item-start color="accent_colors"></ion-icon>
        {{'VISUAL' | translate}}
        <ion-badge item-end>{{evento.views}}</ion-badge>
      </ion-item>
    </ion-list>

  </div>

</ion-content>

<!-- evento a pagamento e non chiuso -->
<ion-footer *ngIf="priceFlag && !closed">
  <ion-toolbar color="primary_color" class="toolbar-buttons-page">
    <ion-title class="footer-title">
      <ion-icon item-start name='logo-euro'></ion-icon>
      {{evento.price | number: '1.2-2'}}
    </ion-title>
    <ion-buttons end>

      <!-- bottone loggato -->

      <button *ngIf="loggedIn" ion-button large icon-end round class="priceButton" (click)="openPayment(evento)" >
        {{'PRENOTA' | translate}}
        <ion-icon class="my-icon" name="card"></ion-icon>
      </button>

      <!-- bottone non loggato -->
      <button *ngIf="!loggedIn" ion-button large icon-end round class="priceButton" (click)="login()" >
        {{'LOGIN_O' | translate}}
      </button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- footer 2 gratis e non chiuso -->
<ion-footer *ngIf="!priceFlag && !closed">
  <ion-toolbar color="primary_color" class="toolbar-buttons-page">
    <ion-title class="footer-title">
      {{'GRATIS' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button large icon-end class="freeButton" (click)="openPayment(evento)">
        {{'PARTECIPA' | translate}}
        <!--<ion-icon name="send"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


<!-- evento chiuso -->
<ion-footer *ngIf="closed">
  <ion-toolbar color="primary_color" class="toolbar-buttons-page">
    <ion-title class="footer-title">

    </ion-title>
    <ion-buttons end>
      <button ion-button large icon-end class="freeButton" (click)="openReview(evento)">
        {{'RECENSIONE' | translate}}
        <!--<ion-icon name="send"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
