<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
  <ion-title>{{'DETTAGLIO_EVENTO_TITOLO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="evento">
    
      
      

        
            
          <p>FOTO</p>
            <p>{{evento.title}}</p>            
        
        
        
      
        
        <p>
          {{evento.date}}
        </p> 
        


        <div *ngIf="creatore">
          <button ion-button color="detail" clear (click)="infoUser()">
              {{creatore.name}} {{creatore.surname}}
          </button>
        </div>

        <div>

          MediaRecensioniUtente: {{reviewValueUser}}

        </div>
        
        
        <p>
            {{evento.description}}
        </p>  
        
        <p>
            Prezzo: {{evento.price}}
        </p> 
      
  </div>

  <!-- <div *ngIf="creatore">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
            {{creatore.email}}
        </ion-card-title>
        <p></p>
        <p></p>
        <p></p>
      </ion-card-content>
    </ion-card>
    <h1></h1>
  </div> -->

    <div *ngIf="image">
      <img [src]="image.data.url" />
    </div>
    <img src="" alt="Cute Pug">


</ion-content>
